* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
}

@media (min-width: 400px) {
  nav {
    float: left;
    width: 25%;
  }

  main {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 399px) {
  nav li {
    display: inline;
  }
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
}

#statuscafe {
  padding: 0.5em;
  background-color: azure;
  border: 1px solid midnightblue;
}
#statuscafe-username {
  margin-bottom: 0.5em;
}
#statuscafe-content {
  margin: 0 1em 0.5em 1em;
}
